<div class="container-fluid">
    
      <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Unit price</th>
              <th>Total quantity</th>
              <th>Price for total quantity</th>
            </tr>
          </thead>
          <tbody>


          </tbody>
        </table>
        
</div>